article{
  width: 250px;
  border: 2px solid hsl(120,100%,30%);
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  transition: 1s;
  /*float: left;*/
  display: inline-block;
}

.comedia:hover{
  background: hsl(60,100%,50%);
  transform: rotate(180deg);
}

#um-morto-muito-louco-2 img{}

#um-morto-muito-louco img{}



.comedia{
  background: hsl(30,100%,50%);
}
.acao {
  background: hsl(100,10%,20%);
}

.acao:hover{
  background: hsl(100,10%,20%);
  border: 2px solid hsl(120,100%,50%);
  padding: 10px;
  /*margin-bottom: 8px;*/
  background-color: #33b5e5;
  color: #ffffff;
  transform: rotate(45deg);
  transform: rotateY(180deg);
}

.grad1:hover {
    background: radial-gradient(circle, black, red, black);
}
